name: pyright Typecheck

on: [push, pull_request]

permissions:
  contents: read

jobs:
  typecheck:
    runs-on: ubuntu-latest
    name: Typecheck
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Upgrade PyPA packages
        run: python -m pip install -U pip setuptools wheel

      # TODO: Print the install script commit hash and Poetry version.
      - name: Install poetry
        run: curl -sSL https://raw.githubusercontent.com/EliahKagan/install.python-poetry.org/ci-repro/findrepo2-experiments/install-poetry.py | python3 -

      - name: Install poetry-plugin-export
        run: poetry self add poetry-plugin-export

      - name: Generate requirements.txt
        run: poetry export >requirements.txt

      - name: Install library dependencies
        run: pip install -r requirements.txt

      - name: pyright Typecheck
        uses: jakebailey/pyright-action@v2
