name: Run ShellCheck

on: [push, pull_request]

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: [ubuntu-latest]
    steps:
      - uses: 'actions/checkout@v4'
      - uses: 'bewuethr/shellcheck-action@v2'
